{% extends "flight/layout.html" %}
{% block head %}
<style>
.card-body li:first-child svg {
    transform: rotate(45deg);
}

.card-body li:nth-child(2) svg {
    transform: rotate(180deg);
}
</style>
{% endblock head %}
{% block body %}
<div class="container-fluid py-5" data-cover="yes">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12">
                <div class="row g-2">
                    <div class="col-12 col-md-6 offset-md-3">
                        <div class="card shadow h-100">
                            <div class="card-body">
                                <div class="rounded-5 border bg-white p-3 text-center">
                                    <div class="d-flex">
                                        <div class="">
                                            <div class="fw-bold fs-4">{{ flight.get_origin.get_city_code }}</div>
                                            <div class="text-muted">{{ flight.get_origin.get_city }}</div>
                                        </div>
                                        <div class="mx-auto">
                                            <div class="p-2" style="color: cornflowerblue;border-top: 3px dotted cornflowerblue;border-radius: 100%;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-airplane-engines" viewBox="0 0 16 16">
                                                    <path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.347 4.347 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0ZM7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1c.213 0 .458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7V3Z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="fw-bold fs-4">{{ flight.get_destination.get_city_code }}</div>
                                            <div class="text-muted">{{ flight.get_destination.get_city }}</div>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-text"><small class="text-muted">Leaves in {{ flight.get_departing_time|timeuntil }}</small></p>
                                <table class="table-bordered table">
                                    <tbody>
                                        <tr>
                                            <th>Seats Booked</th>
                                            <td>{{ flight.get_passengers.count|default:"No seats booked yet" }}</td>
                                        </tr>
                                        <tr>
                                            <th>Capacity</th>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <th>Plane</th>
                                            <td>{{ flight.get_airplane }}</td>
                                        </tr>
                                        <tr>
                                            <th>Action</th>
                                            <td><a href="#" class="btn btn-sm btn-outline-dark">Book now</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <img src="/static{{ flight.get_origin.get_picture.url }}" class="card-img-bottom" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}